@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
	background-color: #192116;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	max-width: 1440px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inter, sans-serif;
}

.inter-regular {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
